body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text_primary{
    color: #FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav >ul,li{
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.text_btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;

}
.header{
    background-color: #FFF8F3;
    
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .propic{
    width: 500px;
}